@charset "utf-8";
/*************************************************************************
*
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2009 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
**************************************************************************/
pre.userdef
{
	background-color:#FFC;
	webkit-user-select: none; 
/*	overflow-x: hidden;
	overflow-y: hidden;*/
}

.Content
{
	position:absolute;
	display:block;
	margin-left:26px;
	margin-right:26px;
	margin-bottom:10px;
	padding-bottom:10px;
}
/*
.method-prototype
{
background-color:#CC3;
font-style:italic;
}


.section-title
{
	font-weight:bold;
	color:#006;
}
*/
/* General page styles ---------------------------------------------------- */
body, html, pre.userdef {
	margin: 0px;
	padding: 0px;
	color: black;
	background-color: white;
	vertical-align: text-bottom;
	font-size: 11px;
}

/* ********************** CSS FROM PHP.NET!!  ***************************  */
/* General page styles ---------------------------------------------------- */
body, input, textarea, select, option {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
code, pre, tt {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace;
}
tt.parameter {
	font-style: italic;
}
pre {
	background-color: #06C;
}

#content{
	font-size: 11px;
}
div.copyright-info{
   font-size: 9px;
   font-style:italic;
   background-color:#EAEAEA;
}

a, a:visited, a:hover {
	color: #000099;
	background-color: transparent;
}

a:active {
	color: #04306C;
	background-color: transparent;
}

h1, h2, h3, h4 {
	font-weight: bold;
	color: #333;
	background-color: transparent;
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 13px;
	letter-spacing: 0.05em;
}
h4 { font-size: 12px; }

/* browsers handle this differently
input.max, textarea.max, select.max {
	width: 100%;
}
*/

img {
	border: 0px;
}
img.middle {
	vertical-align: middle;
}


/* {{{ Errors, warning, tips classes */
p.formerror, p.warn {
	border: 1px solid #666600;
	color: #660000;
	background-color: #ffeeee;
	margin: 4px;
	padding: 6px;
}

/* Manual warnings/cautions/tips */
div.warning , div.caution, div.tip {
	text-align: left;
	padding: 5px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
div.warning p, div.caution p, div.tip p {
	text-align: justify;
}
div.tip {
	border: 1px solid #00c;
	color: #006;
	background-color: #eef;
}
div.warning {
	border: 1px solid #666;
	color: #930;
	background-color: #FFF;
}
div.caution {
	color: #FFF;
	background-color: #787878;
	letter-spacing: 0.05em;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
	font-size: 11px;
}


/* FIXME: Remove when the new XSL build has finished */
div.warning table, div.warning table tr, div.warning table td,
div.caution table, div.caution table tr, div.caution table td {
	border: 0;
}
/* }}} */

hr {
	border: 0px;
	color: black;
	background-color: black;
	height: 1px;
	/* clear: both; has problems in IE and Opera */
}

.center {
	text-align: center;
}
.center table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.center th {
	text-align: center;
}


div.indent {
	margin-left: 50px;
}

li {
	padding-top: 3px;
	padding-bottom: 3px;
}
/* Don't overwrite ordered lists */
ul li {
	list-style-type: square;
}

em {
	font-weight: bold;
	font-style: italic;
}

ul.simple {
	padding-left: 8px;
	margin: 0 0 1em 0;
}
ul.simple li {
	padding: 0px;
	list-style-type: none;
}

.md5sum {
	color: #6666cc;
	background-color: transparent;
}

/* Used for manual page toc wrapping */
.w {
    font-size: 0;
}

/* Content are styles ----------------------------------------------------- */
#content {
	margin-top:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#content h1 {
	margin-top: 0px;
}

/* 3px IE bug hack hidden from IE5-mac \*/
* html #content { height: 1%; }
/* End hide from IE5-mac */ 

/* Layout styling and helpers --------------------------------------------- */
#layout_2, #layout_3 {
	background-image: none;
}
#layout_3_helper {
	/* Background image will be set in a mirror specific CSS rule */
	background-position: top right;
	background-repeat: repeat-y;
}

.cleaner {
	clear: both;
	height: 1px;
	font-size: 1px;
}



/* Header navigation area ------------------------------------------------- */


/* Credits page styles ---------------------------------------------------- */


/* PHP source code highlighting ------------------------------------------- */
.phpcode, div.classsynopsis {
	padding: 0.5em;
	text-align: left;
}
div.phpcode span.html {
	color: black;
	background-color: transparent;
}
div.phpcode span.comment, div.classsynopsisinfo_comment {
	color: #FF8000;
	background-color: transparent;
}
div.classsynopsisinfo_comment {
	font-weight: bold;
}
div.phpcode span.default {
	color: #0000BB;
	background-color: transparent;
}
div.phpcode span.keyword {
	color: #007700;
	background-color: transparent;
}
div.phpcode span.string {
	color: #DD0000;
	background-color: transparent;
}

/* XML source code highlighting ------------------------------------------- */
div.xmlcode span.attributes {
	color: #333366;
	background-color: transparent;
}
div.xmlcode span.cdata {
	color: #990000;
	background-color: transparent;
}
div.xmlcode span.comment {
	color: #666666;
	background-color: transparent;
}
div.xmlcode span.tags {
	color: #000066;
	background-color: transparent;
}
div.xmlcode span.keyword {
	color: #cc6600;
	background-color: transparent;
}
div.xmlcode span.string {
	color: #006600;
	background-color: transparent;
}

.refentry table td {
	text-indent: 5px;
}

/* Standard tables -------------------------------------------------------- */
table.standard td {
	background-color: #eeeeee;
	color: inherit;
}
table.standard th {
	background-color: #cccccc;
	color: inherit;
}
table.standard td.highlight {
	background-color: #ffffcc;
	color: inherit;
}
table.standard td.sub, table.standard th.sub,
table.standard th.subr, table.standard th.subl {
	background-color: #dddddd;
	color: inherit;
}
table.standard th.subr {
	text-align: right;
	vertical-align: top;
}
table.standard th.subl {
	text-align: left;
	vertical-align: top;
}

/* Calendar table --------------------------------------------------------- */
table#cal {
	font-size: smaller;
	background-color: #a0a0a0;
	color: inherit;
}
table#cal td {
	background-color: #f0f0f0;
	color: inherit;
	vertical-align: top;
}
table#cal a {
	text-decoration: none;
}
table#cal a:hover {
	text-decoration: underline;
}
table#cal a.day {
	float: right;
	font-weight: bold;
	color: #666666;
	background-color: transparent;
}
table#cal div.event {
	margin-bottom: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dashed #000000;
}
table#calnav td, table#cal td.notaday {
	background-color: #d0d0d0;
	color: inherit;
}
table#cal a.cat1 {
	color: green;
	background-color: transparent;
}
table#cal a.cat3 {
	color: black;
	background-color: transparent;
}


/* PHP Manual table ------------------------------------------------------- */
table.doctable, table.informaltable { 
   border: 0px; 
}
table.doctable td, table.doctable th, table.doctable caption,
table.informaltable td, table.informaltable th, table.informaltable caption { 
   padding: 5px;
}
table.doctable thead th, table.informaltable thead th { 
   background-color: #9999CC;
}
table.doctable tbody td, table.informaltable tbody td {
   background-color: #F0F0F0;
}


/* Left sidebar TOC on manual pages --------------------------------------- */



/* Top and bottom navigation controls on manual pages --------------------- */



/* Definition lists used on eg. the unsub page */
dl dd {
	margin: 0.5em 0 0.5em 2em;
	padding: 0.5em;
}

/* {{{ Security Respons section */
#content.security {
	width: 610px;
}
#content.security .record {
	width: 550px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0px;
	padding: 5px;
}
#content.security .record .id,
#content.security .record .date, 
#content.security .record .range {
	float: left;
}
#content.security .record .date {
	text-indent: 5px;
	width: 105px;
}
#content.security .record .id {
	width: 90px;
}
#content.security .record .range {
	width: 55px;
}
#content.security .record .affects {
	font-weight: bold;
}
#content.security .record .summary {
	text-indent: 10px;
	padding: 3px 0px;
}
#content.security .low {
	background-color: yellow;
}
#content.security .medium {
	background-color: #f90;
}
#content.security .critical {
	background-color: #FF0000;
}
#content ul.colors {
	width: 150px;
}
#content ul.colors li {
	text-indent: 10px;
}

/* Single records */
#content.security .singlerecord {
	text-align: left;
	font-size: 1.1em;
	width: 650px;
}
#content.security .singlerecord .title {
	float: left;
	font-weight: bold;
	width: 150px;
	text-indent: 10px;
}
#content.security .singlerecord .reporter,
#content.security .singlerecord .references {
	margin: 0 0 10px 0;
}
#content.security .description .title {
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 0px 0px;
}
#content.security .description .data {
	float: left;
	text-indent: 20px;
	padding: 5px;
	width: 650px;
}
/* }}} */

/* {{{ phpdoc examples */
div.example, div.informalexample, div.classsynopsis div.ooclass {
	background-color: #fff;
	border: 1px solid #333;
	text-align: left;
	color: #000;
}

div.classsynopsis div.ooclass,
div.example p {
	margin: 0px;
	padding: 0.5em;
	text-indent: 0.4em;
	letter-spacing: 0.1em;
	font-family: Arial, Helvetica, sans-serif;
}
div.classsynopsis div.ooclass {
	border: 1px solid #000;
	padding: 10px;
	margin: 0 0 10px 0;
}

div.example div.example-contents,
table .phpcode,
div.mediaobject,
div.classsynopsis,
div.informalexample pre,
div.informalexample .phpcode {
	background-color: #EBEBEB;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	outline-color: none;
}
div.example-contents pre {
	background-color: #e1e1e1;
	padding: 5;
	width:560px;
	overflow-x:auto;
}

/* Konq & Fx, for what ever reason, dislike br:before so this doesn't work at the moment...
 * This should however add line-number to examples - which will _not_ be copied to clipboard
 * when the code is copy/pasted */
div.example div.example-contents:after {
	counter-reset: phpexample;
}

div.example-contents br:before {
	content: counter(phpexample);
	counter-increment: phpexample; 
}
/**/

div.example div.example-contents p, div.informalexample p {
	background-color: #FFF;
	text-indent: .05em;
	border-bottom: 1px outset #000;
	padding: 0px;
	top: 0px;
}

div.example div.screenshot img {
	padding: 20px;
	border: 1px dotted #000;
	background-color: #E0E0E0;
}
/* }}} */

/* Make sure the underscore in many function names are visible */
div.refentry a, div.reference a, div.section a {
	text-decoration: none;
	border-bottom: 1px solid #009;
}

div.refsect1 {
	border: 1px none #cccccc;
	border-collapse: collapse;
	margin: 0.5em;
	padding: 0.5em;
	background-color: #EBEBEB;
}
div.refsect1 h3 {
	margin-top: 0;
	padding-top: 0;
	border-bottom: dashed 1px #ffffff;
}
div.refsect1 dl {
	padding: 15px;
	border: 1px solid #ddd;
}
div.refsect1 dd {
	border: 1px;
	background-color: #FFF;
}
div.refsect1 span.term {
	font-size: 1.2em;
	border-bottom: groove 1px #dddddd;
}
div.section dt {
	background: #FAFAFA;
	border-bottom: 1px solid #CCC;
}

div.refsect1 span.term b tt {
	font-size: 0.9em;
}

div.classsynopsisinfo_comment {
	text-indent: 30px;
	padding-top: 2em;
}
div.classsynopsis div.methodsynopsis,
div.classsynopsis div.constructorsynopsis,
div.classsynopsis div.destructorsynopsis,
div.classsynopsis div.fieldsynopsis {
	text-indent: 30px;
	padding: 3px;
}
div.refsect1 div.methodsynopsis,
div.refsect1 div.constructorsynopsis,
div.refsect1 div.destructorsynopsis {
	background-color: #fff;
/*	white-space:nowrap; */
	padding: 0.5em;
	border: 1px solid black;
	font-size: 11px;
}
div.classsynopsis {
	color: rgb(0, 119, 0);
}
div.classsynopsis b.classname,
div.classsynopsis span.interfacename,
div.classsynopsis div.fieldsynopsis var,
div.classsynopsis div.classsynopsisinfo var,
div.classsynopsis span.methodname,
div.classsynopsis tt.parameter,
div.classsynopsis span.modifier_role {
	color: rgb(0, 0, 187);
}
div.classsynopsis b.interfacename {
	color: #0000BB;
	font-weight: normal;
}
span.replaceable, span.initializer {
	font-style: italic;
}
div.authorgroup {
	padding: 10px;
}
blockquote {
	border: 1px solid #000;
	background-color: #FFF;
	margin: 0.5em 0;
	padding: 0.5em 1em;
}

div.footnote sup {
	float: left;
}
div.footnote p {
	text-indent: 10px;
}
/*
 * vim: noet
 */
#layout_2 #content #function.str-pad .refnamediv {
	text-align: left;
}
