<html xmlns:MMString="http://www.macromedia.com/schemes/data/string/">
<head>
<!-- Copyright 2001, 2002, 2003 Macromedia, Inc. All rights reserved. -->
<SCRIPT SRC="../../Common/WebServices/WebServicesCommon.js"></SCRIPT>
<SCRIPT SRC="../../Common/WebServices/WebServices.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/MM/Scripts/CMN/displayHelp.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/Ultradev/Scripts/proxyCmn.js"></SCRIPT>
<SCRIPT SRC="../../Common/ComponentCommon.js"></SCRIPT>
<SCRIPT SRC="../../Common/SignatureBuilder.js"></SCRIPT>
<!-- End removal area. -->
</head>
<body>
<form>
  <div ALIGN="center"> 
    <table border="0">
      <tr> 
        <td align="center" valign="baseline" nowrap>
			<MMString:loadString id="Components/Common/WebServices/WebServices/text/To" />
		</td>
      </tr>
      <tr> 
		<td>&nbsp;</td>
	  </tr>
      <tr> 
        <td align="left" valign="baseline" nowrap>
			<MMString:loadString id="Components/Common/WebServices/WebServices/text/Click" />
		</td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
