<html xmlns:MMString="http://www.macromedia.com/schemes/data/string/">
<head>
<title><MMString:LoadString id="insertbar/tabularData" /></title>
<script src="Tabular Data.js"></script>
<script>

// Copyright 2000, 2001, 2002, 2003 Macromedia, Inc. All rights reserved.

//--------------- LOCALIZEABLE GLOBALS---------------

var TITLE_Insert_Tabular_Data = dw.loadString('Objects/Layout/Tabular_Data/TITLE_Insert_Tabular_Data');

//--------------- END LOCALIZEABLE   ---------------
</script>
</head>

<body>
</body>

</html>
