//*************************************************************************
// *
// * ADOBE CONFIDENTIAL
// * ___________________
// *
// *  Copyright 2011 Adobe Systems Incorporated
// *  All Rights Reserved.
// *
// * NOTICE:  All information contained herein is, and remains
// * the property of Adobe Systems Incorporated and its suppliers,
// * if any.  The intellectual and technical concepts contained
// * herein are proprietary to Adobe Systems Incorporated and its
// * suppliers and may be covered by U.S. and Foreign Patents,
// * patents in process, and are protected by trade secret or copyright law.
// * Dissemination of this information or reproduction of this material
// * is strictly forbidden unless prior written permission is obtained
// * from Adobe Systems Incorporated.
// *
// **************************************************************************/

select {
	width: 200px;
}

.pi {
	position:absolute;
	z-index:1;
	left: 165px;
	top: 3px;
	width: 461px;
	height: 90px;
}

.hidden {
	display: none;
}

input[disabled='disabled'] {
  background:#fff;
  color:black;
  cursor:default;
}
