@font-face {
  font-family: "iconfont"; /* Project id 3074136 */
  src: url('iconfont.woff2?t=1640596450359') format('woff2'),
       url('iconfont.woff?t=1640596450359') format('woff'),
       url('iconfont.ttf?t=1640596450359') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e9a1";
}

.icon-star-half:before {
  content: "\e9a2";
}

