<!-- Copyright 2001-2006 Adobe Macromedia Software LLC and its licensors. All rights reserved. -->
<html xmlns:MMString="http://www.macromedia.com/schemes/data/string/">
<HEAD>
<SCRIPT SRC="../../Common/Connections/ConnectionsCommon.js"></SCRIPT>
<SCRIPT SRC="../../Common/Connections/Connections.js"></SCRIPT>
<SCRIPT SRC="../../Common/ComponentCommon.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/Common/Scripts/dwscriptsServer.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/Common/Scripts/dwscripts.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/UltraDev/Scripts/sbManager.js"></SCRIPT>
<SCRIPT src="../../../Shared/MM/Scripts/CMN/string.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/UltraDev/Scripts/SQLTypes.js"></SCRIPT>

</HEAD>
<body>
<form>
  <div ALIGN="center">
    <table border="0">
      <tr>
        <td align="center" valign="baseline" nowrap>
			<MMString:loadString id="Components/Common/Connections/Connections/text/Define" />
		</td>
      </tr>
    </table>
  </div>
</form>
</body>
</HTML>
