<!-- Copyright 2001-2006 Adobe Macromedia Software LLC and its licensors. All rights reserved. -->
<!-- #include virtual="../../Common/Connections/Connections.htm" -->

<SCRIPT src="../../../Shared/RDSAPI/basicAPI.js"></SCRIPT>
<SCRIPT src="../../../Shared/RDSAPI/ConnectionAPI.js"></SCRIPT>
<SCRIPT src="Connections.js"></SCRIPT>

<html xmlns:MMString="http://www.macromedia.com/schemes/data/string/">
  <HEAD>
    <TITLE><MMString:loadString id="Components/ColdFusion/Connections/Connections/title" /></TITLE>
  </HEAD>
</HTML>
