<!-- Copyright 2001, 2002, 2003 Macromedia, Inc. All rights reserved. -->
<html xmlns:MMString="http://www.macromedia.com/schemes/data/string/">
<head>
<SCRIPT SRC="../../Common/JavaBeans/JavaBean.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/MM/Scripts/CMN/displayHelp.js"></SCRIPT>
<SCRIPT SRC="../../Common/ComponentCommon.js"></SCRIPT>
</head>
<body>
<form>
  <div ALIGN="center"> 
    <table border="0">
      <tr> 
        <td align="center" valign="baseline" nowrap>
			<MMString:loadString id="Components/Common/JavaBeans/JavaBean/text/To" />
		</td>
      </tr>
      <tr> 
		<td>&nbsp;</td>
	  </tr>
      <tr> 
        <td align="left" valign="baseline" nowrap>
			<MMString:loadString id="Components/Common/JavaBeans/JavaBean/text/Click" />
		</td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
