@charset "utf-8";
/*
 * ADOBE SYSTEMS INCORPORATED
 * Copyright 2007 Adobe Systems Incorporated
 * All Rights Reserved.
 * 
*/

/*
 * This is the user style sheet applied to every document in live mode. 
 * One thing we do is over-ride the default style sheet in terms of selection
 * to allow it in all places where you normally can't select
 *
 */

body {
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
}

label {
   -webkit-user-select: text;    
}

a:-webkit-any-link {
    -webkit-user-select: text;
}

button {
    -webkit-user-select: text;
}

input {
    -webkit-user-select: text;
}

/* Set resize:auto or resize:none if you don't want the grippers on the text area corners */
textarea {
    resize: both;
}

select
{
	background-color:#DDD;
}

header, section, footer, aside, nav, article, figure {
	display: block;
}